
@font-face {  
  font-family: 'DFGBP29';
  src: url('../../styles/fonts/DFGBP29.ttf');
  font-weight: normal;  
  font-style: normal;  
}
@font-face {  
  font-family: 'CAI978';
  src: url('../../styles/fonts/300-CAI978_0.ttf');
  font-weight: normal;  
  font-style: normal;  
}