// 全局配色
$blue                     : #0066B6;
$content_bg                : #EDECF1;
$content_title_bg          : #F7F8FA;
$border_color              : #fff;
$dashed_color              : #E4E6ED;
$bgcolor                   : #ecf0f8;
// 左侧导航 颜色配置
$sidebar_bg                : #1C2327;
$sidebar_active            : #5FC345;
$sidebar_color             : #FFFFFF;
$baseColor                 : #4DAF33;
